h2= @question.title
p= @question.body
- if @question.user == current_user
  p= link_to 'Delete your question', question_path(@question), method: :delete

.answers
  == render @question.answers

p Create an answer
.answer-errors
== render 'answers/form'
